@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Tektur:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Tektur:wght@600;900&family=Yantramanav&display=swap');

@keyframes anima{

    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.01);
    }
}

:root{
    --cor--um: #F07A08;
    --cor--dois: #000000;
    --cor--tres: #FFFFFF;
    --cor--quatro: #964E18;
    --cor--cinco: #4F4944;

    --font-um: 'Tektur', cursive;
    --font-dois: 'Yantramanav', sans-serif;
}
        
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    transition: 0.3s;
    background-color: var(--cor--dois);
}

header{
    width: 100%;
}

.menu-superior{
    display: flex;
    justify-content: center;
    background-color: var(--cor--um);
    width: 100%;
    height: 95px;
}

.laranja{
    font-size: 1.3rem;
    text-decoration: none;

    color: var(--cor--dois);
    font-family: var(--font-um);
    font-weight: 600;
}

.menu-links{
    display: flex;
    justify-content: left;
    padding-top: 32px; 
    padding-right: 55%; 
    flex-direction: row;
    gap: 50px;
    position: absolute;
}

.botao-menu{
    font-size: 1.3rem;
    text-decoration: none;

    color: var(--cor--dois);
    font-family: var(--font-dois);
    font-weight: 600;
}

.container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}


.menu-superior img{
    flex-direction: column;
    align-items: center;
    padding: 13% 0% 0% 0%;
    height: 150%;
    width: 100%;
}


.conteudo-principal{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.titulo-destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 6.5%;
    font-family: var(--font-um);
    font-size: 1.6rem;
    font-weight: 900;

    color: var(--cor--tres);
}

.link-tree{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 4%;
    gap: 25px;
    font-family: var(--font-dois);
    margin-bottom: 3.4%;
}

.botao-um{
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    font-size : 1.5rem;
    font-weight: 400;
    color: var(--cor--dois);

    background-color: var(--cor--um);
    border-radius: 8px;
    width: 330px; 
    height: 70px;

    box-shadow: 0px 10px 0px 0px var(--cor--quatro);
    transition: transform 0.2s, box-shadow 0.2s;
}

.botao-um:hover {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .botao-dois{
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    font-size : 1.5rem;
    font-weight: 400;
    color: var(--cor--dois);

    background-color: var(--cor--um);
    border-radius: 8px;
    width: 330px; 
    height: 70px;

    box-shadow: 0px 10px 0px 0px var(--cor--quatro);
    transition: transform 0.2s, box-shadow 0.2s;
}

.botao-dois:hover {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .botao-tres{
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    font-size : 1.5rem;
    font-weight: 400;
    color: var(--cor--dois);

    background-color: var(--cor--um);
    border-radius: 8px;
    width: 330px; 
    height: 70px;

    box-shadow: 0px 10px 0px 0px var(--cor--quatro);
    transition: transform 0.2s, box-shadow 0.2s;
}

.botao-tres:hover {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .botao-quatro{
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    font-size : 1.5rem;
    font-weight: 400;
    color: var(--cor--dois);

    background-color: var(--cor--um);
    border-radius: 8px;
    width: 330px; 
    height: 70px;

    box-shadow: 0px 10px 0px 0px var(--cor--quatro);
    transition: transform 0.2s, box-shadow 0.2s;
}

.botao-quatro:hover {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }


  /* about html */

  .imagem-lutador{
    position: fixed;
    left: 0%;
    opacity: 40%;
  }

  .container-about{
    display: flex;
    justify-content: center;
    padding: 10% 15% 0% 0%;
  }

  .cubo-um{
    width: 725px; 
    height: 64px;

    border-radius: 20px 20px 0 0;
    background-color: var(--cor--cinco);
  }
  
  .cubo-dois{
    width: 725px; 
    height: 64px;

    background-color: var(--cor--um);
  }

  .cubo-tres{
    width: 725px; 
    height: 64px;

    background-color: var(--cor--quatro);
  }

  .cubo-quatro{
    width: 725px; 
    height: 64px;

    background-color: var(--cor--um);
  }

  .cubo-cinco{
    width: 725px; 
    height: 64px;

    background-color: var(--cor--quatro);
  }

  .cubo-seis{
    width: 725px; 
    height: 64px;

    background-color: var(--cor--um);
  }

  .cubo-sete{
    width: 725px; 
    height: 64px;

    background-color: var(--cor--quatro);
  }

  .cubo-oito{
    width: 725px; 
    height: 64px;

    background-color: var(--cor--um);
  }

  .cubo-nove{
    width: 725px; 
    height: 55px;

    border-radius: 0 0 40px 40px;
    background-color: var(--cor--cinco);
  }

  .titulo-funcionamento{
    color: var(--cor--tres);
    font-family: var(--font-um);
    font-weight: 600;
    font-size: 1.8rem;

    display: flex;
    justify-content: center;
    padding-top: 2%;
  }

  .dia-semana{
    font-family: var(--font-um);
    color: var(--cor--tres);
    font-size: 1.6rem;
    justify-content: left;
  }

  .horario-semana{
    font-family: var(--font-um);
    color: var(--cor--tres);
    font-size: 1.6rem;

    display: flex;
    justify-content: right;
  }

.cubo-dois,
.cubo-tres,
.cubo-quatro,
.cubo-cinco,
.cubo-seis,
.cubo-sete,
.cubo-oito,
.cubo-nove {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dia-semana,
.horario-semana {
  margin: 0 25px;
}


.cubo-um,
.cubo-dois,
.cubo-tres,
.cubo-quatro,
.cubo-cinco,
.cubo-seis,
.cubo-sete,
.cubo-oito,
.cubo-nove {
  width: 150%;
  height: 25%;
  display: flex;
  align-items: center;
}



  @media (max-width: 1100px){
            
    .titulo-destaque{
         padding-top: 10%;
    }  

}

@media (max-width: 750px){
            
    .titulo-destaque{
         padding-top: 15%;
    }  

}

@media (max-width: 600px){
            
    .menu-links{
        padding-left: 55%;
         gap: 200px;
    }  

}

@media (max-width: 450px){
            
    .titulo-destaque{
         padding-top: 25%;
    }  

}

@media (max-width: 390px){
            
    .menu-links{
        padding-left: 55%;
         gap: 150px;
    }  

}

